<div class="center">
  <div class="jumbotron">
    <h1>All Projects</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <hr>
    <div class="col-sm-4" *ngFor="let project of projects | async">
      <div class="panel panel-default" id="disp-projects">
        <div class="panel-heading" (click)="goToProject(project)"><a>{{project.projectName}}</a></div>
        <div class="panel-body">
          <img src="{{project.imgurl}}" alt="{{project.title}}"><br><br>
          <p>{{project.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
