<div class="container">
  <button type="button" (click)="showForm()" class="btn btn-primary">Click to back me!</button>
  <form *ngIf="backerForm">
    <h2>Fund This Project</h2>
    <div class="form-group">
      <label for="backerName">Your Name:</label>
      <input class="form-control" type="text" name="backerName" #backerName>
    </div>
    <div class="form-group">
      <label for="backerAmount">How Much:</label>
      <input class="form-control" type="number" name="backerAmount" #backerAmount>
    </div>
    <button type="button" (click)="fund(backerName, backerAmount)" class="btn btn-primary">Fund This Sucker!</button>
  </form>
</div>
