.navbar {
  background-color: #fc6;
  font-weight: bold;
  border: 0;
  border-radius: 0;
  margin-bottom: -20px;
  border-bottom: 1px solid black;
}

#logo {
  font-family: 'Abril Fatface', cursive;
}
